
/* Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }

  /* Flex and grid */

  .emojis {
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 1em;
  
  }

  .icon {
    font-size: 4rem;
    align-self: center;
    order: 1;
    margin-bottom: 1px;
    flex-basis: 100%;
  }

  h2 {
    order: 2;
    flex-basis: 100%;
  }

  p {
    order: 3;
    flex-basis: 100%;
  }

  a {
    order: 4;
    flex-basis: 100%;
  }

  .emoji{ 
    display: flex;
    flex-flow: row wrap;
    
    
    /* display: flex;
    flex-wrap: wrap;    */
  }

  