
/* Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }

  /* Flex and grid */

  .emojis {
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 1em;
  
  }

  .icon {
    font-size: 4rem;
    align-self: center;
    order: 1;
    padding-bottom: 8px;
    
  }

  h2 {
    order: 2;
    
  }
/* flex-basis to help with the aligment */
  p {
    order: 3;
    flex-basis: 100%;
  }

  a {
    order: 4;

  }

  .emoji{ 
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-wrap: wrap;    */
  }

  /* removed flex-wrap because it didn't allow me to center items correctly */


  